# macOS system files
.DS_Store

# Python virtual environments
semtui-env/
semtui-test/

# Jupyter-related files
.ipynb_checkpoints/
*.ipynb_checkpoints
**/.ipynb_checkpoints/
downloads/
share/jupyter/
*.json
#*.csv
# But do not ignore this specific CSV file in the sample Notebooks folder
#!sample "Notebooks/sample_table.csv"

# Lab extensions and static files
static/
node_modules/
lab/
labextensions/
build/

# Ignore logs, coverage reports
*.log
*.coverage
.coverage.*

# Add untracked files and directories you don't want to push
27072024_test.ipynb
Complete_extension_test.ipynb
Pipeline_test/
SEMTUI_Explanation.ipynb
Simplified_SEMTUI.ipynb
Step2.ipynb
Step3.ipynb
Step4.ipynb
Test_SEMTUI.ipynb
semtui.egg-info/
semtui_refactored/__pycache__/
test_extension.ipynb
untitled.md
Semtui-Bucharest-test.ipynb
